<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<preference for="Magento\Customer\Controller\Account\CreatePost" type="Paranerd\Referrer\Controller\Account\CreatePost" />
	<preference for="Magento\Quote\Model\QuoteManagement" type="Paranerd\Referrer\Model\Quote\QuoteManagement" />
	<preference for="Magento\Customer\Model\Data\Customer" type="Paranerd\Referrer\Model\Customer\Data\Customer" />
	<preference for="Magento\Customer\Model\ResourceModel\CustomerRepository" type="Paranerd\Referrer\Model\Customer\ResourceModel\CustomerRepository" />
</config>
